@page
@model IndexModel
@{
  ViewData["Title"] = "Home";
}

<h1 class="display-4">Welcome to Wired Brain Coffee</h1>

<div class="card">
  <div class="card-header">
    Book a desk
  </div>
  <div class="card-body">
    <p>
      Now you can book a desk for a full day in our coffee shop in Zurich.
      Enjoy a desk with two screens and unlimited coffee.
      Just bring in your laptop and you're ready to spend a productive office day in our coffee shop in Zurich.
    </p>
    <a href="/bookDesk" class="btn btn-primary">Book a desk</a>
  </div>
</div>
